*{padding: 0; margin: 0; box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body {
    font-family: 'Poiret One', cursive;
    background-color: rgb(148,57,72);
    overflow: auto;
}

.container {
    padding: 50px 100px 0px 100px;
    margin: 0 0 0px 0;
    text-align: center;
    /* background-color: rgb(148,57,72); */
    background-image: url("../img/bg3.jpg");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
    height: 650px;

    font-family: 'Poiret One', cursive;
}

header {
    padding: 0 0 65px 0;
}


h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(229, 211, 211);
    letter-spacing: 3px;
    padding-bottom: 50px;
    text-shadow: 5px 15px 20px black;
}

.button {
    box-shadow: 5px 10px 20px black;
}

button {
    cursor: pointer;
    outline: none;
    background: rgb(229, 211, 211);
    border: 1px solid rgb(229, 211, 211);
    border-radius: 3px;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 2px;
    padding: 15px;

}

button:hover {
    background: rgb(58, 22, 28);
    color:rgb(229, 211, 211);
    font-weight: 900;
    transition: 0.3s;
    border: 1px solid rgb(58, 22, 28);
}

main  {
    display: flex;
    flex-wrap: wrap;
    margin-right: 350px;
    /* margin-bottom: -300px; */
}

.div {
    background: -webkit-radial-gradient(top left,  rgb(229, 211, 211) 40%, rgb(148,57,72) 120%);
    width: 200px;
    height: auto;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px 5px 20px black;
    margin: 0 15px 15px 0;
    overflow: auto;
}

.div i {
    cursor: pointer;
}

h2 {
    padding: 0 0 10px 0;
}

p {
    padding: 0px 0 10px 0;
}

/* FORM */

/* Modal */

.modal {
    display: none; 
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding: 100px 400px; 
    /* Location of the box */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    /* margin: 50; */
    /* Full width */
    height: 100%; 
    /* Full height */
    overflow: auto; 
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    /* Black with opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    padding: 20px 30px;
    border: 1px solid inherit;
    border-radius: 5px;
    /* width: 100%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

form {
    text-align: left;
    background: white;
}

form h3 {
    text-align: center;
    padding-bottom: 10px;
}

form input, form select {
    background: none;
    padding: 10px;
    margin: 2px 0 0 0;
    border: 1px solid rgb(229, 211, 211);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    border-radius: 2px;

}

form input:active {
    box-shadow: 1px 1px 2px rgb(58, 22, 28);
}

form button {
    padding: 5px 5px 5px 5px;
    /* background: white; */
}

form label {
    font-weight: 900;
    letter-spacing: 1.5px;
    /* padding: 0 0 50px 0; */
}

form p {
    padding: 10px 0 0 0;
}

footer {
    /* clear: both; */
    padding: 0 20px 0 0;
    margin: 0px 0px 0px 0px;
    text-align: center;
    /* background: rgb(148,57,72); */
    color: white;
    font-family: inherit;
    position: absolute;
    height: 80px;
    display: table-row;
    bottom: 0;
    right: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    /* font-weight: 900; */
}